{% extends "_base.html" %}

{% block content %}
<div class="container-fluid">
    <div class="row m-5">
        <div class="col-md-12">
            <ul>
                <li><a href="{% url 'erad:scraping' %}">e-Radから公募データを取得する</a>
                <li><a href="{% url 'admin:login' %}">ログイン</a></li>
                <li><a href="{% url 'admin:index' %}">管理サイト</a></li>
                <li><a href="{% url 'admin:logout' %}">ログアウト</a></li>
            </ul>

            {% if user.is_authenticated %}
            Hi {{ user.username }}!
            <p><a href="{% url 'admin:logout' %}">logout</a></p>
            {% else %}
            <p>You are not logged in</p>
            <a href="{% url 'admin:login' %}">login</a>
            {% endif %}


        </div>
    </div>
</div>

{% endblock %}