{% extends "_base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% load humanize %}

{% block content %}
<div class="container-fluid">
    <h1 class="h3 my-3">新潟大学に郵便やメールで通知のあった助成財団等の公募情報</h1>
    <a class="btn btn-outline-primary my-3 mr-3" href="{% url 'grant:export' %}">CSVダウンロード（全件）</a>


    <form method="GET" action="" name="filter_form">
        <div class="form-group border rounded p-3">
            <h2 class="h6">絞り込み</h2>
            <div class="row">
                <div class="col-md-6">
                    {{ search_form.foundation | as_crispy_field }}
                </div>
                <div class="col-md-6">
                    {{ search_form.grant_name | as_crispy_field }}
                </div>
            </div>
            <button type="submit" class="btn btn-primary">
                <i class="fas fa-search"></i>
                検索
            </button>
        </div>
    </form>

    {% if grant_list %}
    <div class="alert alert-primary my-4">
        検索結果：<span class="h2">{{ paginator.count | intcomma }}</span> 件
    </div>
    <p>初期状態では、データ登録日の降順で表示します。見出しをクリックして、任意の項目の昇順、降順にソートできます。</p>

    <table id="fav-table" class="table table-hover">
        <thead class="thead-light">
            <tr>
                <th width=10%>データ登録日</th>
                <th width=30%>財団等の名称</th>
                <th width=25%>公募名</th>
                <th width=10% align="center">本部による取りまとめ</th>
                <th width=15%>備考</th>
                {% if request.user.is_authenticated %}
                <th></th>
                {% endif %}
            </tr>
        </thead>
        <tbody>
            {% for grant in grant_list %}
            <tr>
                <td>
                    {{ grant.acceptance_date | date:"Y/m/d" }}
                </td>
                <td>{{ grant.foundation }}</td>
                <td><a href="{{ grant.url }}" target="_blank" rel="noopener noreferrer">{{ grant.grant_name }} <i
                            class="fas fa-external-link-alt"></i></a></td>
                <td align="center">{{ grant.get_arrange_display }}</td>
                <td><small>{{ grant.remarks }}</small></td>
                {% if request.user.is_authenticated %}
                <td>
                    <a class="btn btn-outline-warning" href="{% url 'grant:update' grant.pk %}">編集</a>
                    <a class="btn btn-outline-danger" href="{% url 'grant:delete' grant.pk %}">削除</a>
                </td>
                {% endif %}
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <!-- pagination -->
    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center pagination-lg g-mt-28 g-mb-28">
            <!-- 前へ の部分 -->
            {% if page_obj.has_previous %}
            <li class="page-item">
                <a class="page-link"
                    href="?foundation={{ foundation }}&grant_name={{ grant_name }}&page={{ page_obj.previous_page_number }}">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
            {% endif %}

            <!-- 数字の部分 -->
            {% for num in page_obj.paginator.page_range %}
            {% if num <= page_obj.number|add:5 and num >= page_obj.number|add:-5 %}

            {% if page_obj.number == num %}
            <li class="page-item active"><a class="page-link" href="#">{{ num }}</a></li>
            {% else %}
            <li class="page-item"><a class="page-link"
                    href="?foundation={{ foundation }}&grant_name={{ grant_name }}&page={{ num }}">{{ num }}</a></li>
            {% endif %}
            {% endif %}
            {% endfor %}

            <!-- 次へ の部分 -->
            {% if page_obj.has_next %}
            <li class="page-item">
                <a class="page-link"
                    href="?foundation={{ foundation }}&grant_name={{ grant_name }}&page={{ page_obj.next_page_number }}">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
            {% endif %}
        </ul>

    </nav>
    {% else %}
    <p class="my-5">見つかりませんでした。</p>
    {% endif %}
</div>

{% endblock %}