{% extends "_base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% load humanize %}

{% block content %}
<div class="container-fluid">
    <h1 class="h3 my-3">新潟大学に郵便やメールで通知のあった助成財団等の公募情報</h1>
    <form method="GET" action="" name="filter_form">
        <div class="form-group border rounded p-3">
            <h2 class="h6">絞り込み</h2>
            <div class="row">
                <div class="col-md-6">
                    {{ search_form.foundation | as_crispy_field }}
                </div>
                <div class="col-md-6">
                    {{ search_form.grant_name | as_crispy_field }}
                </div>
            </div>
            <button type="submit" class="btn btn-primary">
                <i class="fas fa-search"></i>
                検索
            </button>
        </div>
    </form>

    {% if grant_list %}
    <div class="alert alert-primary my-4">
        検索結果：<span class="h2">{{ cnt | intcomma }}</span> 件
    </div>
    <p>初期状態では、データ登録日の降順で表示します。見出しをクリックして、任意の項目の昇順、降順にソートできます。</p>

    <table id="fav-table" class="table table-striped table-borderless table-sm table-hover">
        <thead>
            <tr>
                <th width=10%>データ登録日</th>
                <th width=30%>財団等の名称</th>
                <th width=25%>公募名</th>
                <th width=20%>備考</th>
                <th width=5%></th>
            </tr>
        </thead>
        <tbody>
            {% for grant in grant_list %}
            <tr>
                <td>{{ grant.acceptance_date | date:"Y/m/d" }}</td>
                <td>{{ grant.foundation }}</td>
                <td>{{ grant.grant_name }}</td>
                <td><small>{{ grant.remarks }}</small></td>
                <td><a class="btn btn-sm btn-outline-primary" href="{{ grant.url }}" target="_blank"
                        rel="noopener noreferrer">詳細</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% else %}
    <p class="my-5">見つかりませんでした。</p>
    {% endif %}
</div>


{% endblock %}