{% extends "_base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% load humanize %}

{% block content %}
<div class="container-fluid">
    <h1 class="h3 my-5">新潟大学に郵便やメールで通知のあった民間助成財団等の公募情報</h1>

    <div class="row">
        <div class="col-md-4">
            <div class="card card-info">
                <div class="card-body">
                    <h2 class="h6">絞り込み</h2>
                    {% crispy search_form　search_form.helper %}
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card card-info">
                <div class="card-body">
                    <h2 class="h6">全データの取得</h2>
                    <a class="btn btn-outline-primary my-3 mr-3" href="{% url 'grant:export' %}">CSV形式でダウンロード</a>
                </div>
            </div>
        </div>
    </div>



    {% if grant_list %}
    <div class="alert alert-primary my-5">
        検索結果：<span class="h3">{{ paginator.count | intcomma }}</span> 件
        （{{ page_obj.paginator.num_pages }} ページのうち {{ page_obj.number }} ページ目を表示）

    </div>
    {% include "grant/_pagination.html" %}

    <table class="table table-hover">
        <thead class="thead-light">
            <tr>
                <th width=10%>更新日</th>
                <th width=60%>助成財団等の名称、公募名</th>
                <th width=20%>備考</th>
                {% if request.user.is_authenticated %}
                <th width=10%></th>
                {% endif %}
            </tr>
        </thead>
        <tbody>
            {% for grant in grant_list %}
            <tr>
                <td>
                    {{ grant.accepted_at | date:"Y-m-d" }}
                </td>
                <td>
                    <div><small class="text-muted">{{ grant.zaidanmei }}</small></div>
                    <div>{{ grant.koubomei }}</div>
                    {% if grant.url %}
                    <div>
                        <small><a href="{{ grant.url }}" target="_blank"
                                rel="noopener noreferrer">{{ grant.url }}</a></small>
                    </div>
                    {% endif %}
                </td>
                <td>
                    <div>{{ grant.get_torimatome_display }}</div>
                    <div>{{ grant.bikou|linebreaksbr }}</div>
                </td>
                {% if request.user.is_authenticated %}
                <td>
                    <a class="btn btn-sm btn-outline-primary" href="{% url 'grant:update' grant.pk %}">編集</a>
                    <a class="btn btn-sm btn-outline-warning" href="{% url 'grant:delete' grant.pk %}">削除</a>
                </td>
                {% endif %}
            </tr>
            {% endfor %}
        </tbody>
    </table>

    {% include "grant/_pagination.html" %}

    {% else %}
    <p class="my-5">見つかりませんでした。</p>
    {% endif %}
</div>

{% endblock %}