{% extends "_base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% load humanize %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col">
            <h1 class="h2 my-3">政府系の競争的研究資金公募情報</h1>
        </div>
    </div>

    <form method="GET" action="" name="filter_form">
        <div class="form-group border rounded p-3 mt-4">
            <h2 class="h6">絞り込み</h2>
            <div class="row">
                <div class="col-md-6">
                    {{ search_form.fa | as_crispy_field }}
                </div>
                <div class="col-md-6">
                </div>
            </div>
            <button type="submit" class="btn btn-primary">
                <i class="fas fa-search"></i>
                検索
            </button>
        </div>
    </form>
    {% if object_list %}
    <div class="alert alert-primary my-4">
        検索結果：<span class="h2">{{ paginator.count | intcomma }}</span> 件
    </div>
    <p>公開日または受付終了日のヘッダ行をクリックすることで、ソート可能です。</p>
    <table id="sort-table" class="table table-hover">
        <thead class="thead-light">
            <tr>
                <th width=10%>公開日</th>
                <th width=50%>配分機関、公募名</th>
                <th width=10%>応募単位</th>
                <th width=10%>機関承認</th>
                <th width=10%>受付終了日</th>
            </tr>
        </thead>
        <tbody>
            {% for object in object_list %}
            <tr>
                <td>{{ object.publishing_date }}</td>
                <td>
                    <div><small class="text-muted">{{ object.funding_agency }}</small></div>
                    <div>
                        {{ object.call_for_applications }}
                    </div>
                    <div>
                        <small><a href="{{ object.erad_url|default:'#' }}" target="_blank"
                                rel="noopener noreferrer">{{ object.erad_url|default:'' }}</a></small>
                    </div>
                    <div>
                        <small><a href="{{ object.url|default:'#' }}" target="_blank"
                                rel="noopener noreferrer">{{ object.url|default:'' }}</a></small>
                    </div>
                </td>
                <td>{{ object.application_unit }}</td>
                <td>{{ object.approved_institution }}</td>
                <td>{{ object.closing_date }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% else %}
    <p class="my-5">見つかりませんでした。</p>
    {% endif %}

</div>

{% endblock %}