{% extends "_base.html" %}

{% block content %}
<div class="container my-5">
    <h1 class="my-4 h3">データ削除</h1>
    <p>このデータを削除しますか？</p>

    <dl class="row">
        <dt class="col-md-3">整理番号</dt>
        <dd class="col-md-9">{{ object.pk }}</dd>
        <dt class="col-md-3">公開日</dt>
        <dd class="col-md-9">{{ object.publishing_date }}</dd>
        <dt class="col-md-3">配分機関</dt>
        <dd class="col-md-9">{{ object.funding_agency }}</dd>
        <dt class="col-md-3">公募名</dt>
        <dd class="col-md-9">{{ object.call_for_applications }}</dd>
        <dt class="col-md-3">URL</dt>
        <dd class="col-md-9">{{ object.url }}</dd>
        <dt class="col-md-3">応募単位</dt>
        <dd class="col-md-9">{{ object.application_unit }}</dd>
        <dt class="col-md-3">機関承認の有無</dt>
        <dd class="col-md-9">{{ object.approved_institution }}</dd>
        <dt class="col-md-3">受付開始日</dt>
        <dd class="col-md-9">{{ object.opening_date }}</dd>
        <dt class="col-md-3">受付終了日</dt>
        <dd class="col-md-9">{{ object.closing_date }}</dd>
    </dl>
    <form action="" method="post">
        {% csrf_token %}
        <a class="btn btn-outline-secondary" href="{% url 'erad:suppl_list' %}">戻る</a>
        <input type="submit" class="btn btn-warning" value="削除" />
    </form>
</div>
{% endblock %}