{% extends "_base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% load humanize %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col">
            <h1 class="h2 my-3">政府系の競争的研究資金 一覧</h1>
        </div>
    </div>

    {% if object_list %}
    <table class="table table-hover">
        <thead class="thead-light">
            <tr>
                <th width=10%>公開日</th>
                <th width=50%>配分機関・公募名</th>
                <th width=10%>応募単位</th>
                <th width=10%>機関承認の有無</th>
                <th width=10%>受付終了日</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for object in object_list %}
            <tr>
                <td>{{ object.publishing_date | date:"Y-m-d" }}</td>
                <td>
                    <div><small class="text-muted">{{ object.funding_agency }}</small></div>
                    <div>
                        <a href="{{ object.url }}" target="_blank"
                            rel="noopener noreferrer">{{ object.call_for_applications }}
                            <i class="fas fa-external-link-alt"></i></a>
                    </div>
                </td>
                <td>{{ object.application_unit }}</td>
                <td>{{ object.approved_institution }}</td>
                <td>{{ object.closing_date }}</td>
                <td>
                    <a class="btn btn-sm btn-outline-primary" href="{% url 'erad:update' object.id %}">編集</a>
                    <a class="btn btn-sm btn-outline-warning" href="{% url 'erad:delete' object.id %}">削除</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% else %}
    <p class="my-5">見つかりませんでした。</p>
    {% endif %}

</div>

{% endblock %}