{% load static %}
<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>新潟大学 研究資金公募情報</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css">
    {% load bootstrap4 %}
    {% bootstrap_css %}
    {% bootstrap_javascript jquery='full' %}
    {{ form.media }}
    <link rel="stylesheet" href="{% static 'css/shikin.css' %}">
    <link rel="shortcut icon" href="{% static 'img/favicon.ico' %}">
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="{% url 'frontpage' %}">新潟大学 研究資金公募情報【試験運用中】</a>
        <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#Navber" aria-controls="Navber"
            aria-expanded="false" aria-label="ナビゲーションの切替">
            <span class="navbar-toggler-icon"></span>
        </button>
    </nav>
    {% if request.user.is_authenticated %}
    <div class="alert alert-warning" role="alert">
        管理者アカウントでログイン中です。<a class="btn btn-light" href="/accounts/logout/">ログアウトする</a>
    </div>
    {% endif %}

    {% if messages %}
    {% for message in messages %}
    {% if message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
    <div class="alert alert-success alert-dismissible">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
        {{ message }}
    </div>
    {% elif message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
    <div class="alert alert-danger alert-dismissible">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
        {{ message }}
    </div>
    {% else %}
    <div class="alert alert-info alert-dismissible">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
        {{ message }}
    </div>
    {% endif %}
    {% endfor %}
    {% endif %}

    {% block content %}
    {% endblock %}

    <footer class="footer py-3 bg-light">
        <div class="container text-muted">
            <div class="row my-4">
                <div class="col-md-12">
                    <h4><a href="{% url 'frontpage' %}">新潟大学 研究資金公募情報【試験運用中】</a></h4>
                </div>
            </div>
            <hr>
            <div class="row my-4">
                <div class="col-md-12">
                    <h5>掲載内容・手続きについて</h5>
                </div>
            </div>
            {% include "_toiawase.html" %}
            <hr>
            <div class="row my-4">
                <div class="col-md-12">
                    <h5>システムの不具合について</h5>
                </div>
            </div>
            <div class="row my-4">
                <div class="col-md-12">
                    <dl>
                        <dt>研究企画室 URA</dt>
                        <dd>内線 7569</dd>
                        <dd><a href="mailto:rao2@adm.niigata-u.ac.jp">rao2@adm.niigata-u.ac.jp</a></dd>
                    </dl>
                </div>
            </div>
            <hr>
        </div>
    </footer>

    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>

    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script type="text/javascript"
        src="https://cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.31.0/js/jquery.tablesorter.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#fav-table').tablesorter();
        });
    </script>



</body>

</html>