<div class="row my-4">
    <div class="col-md-3">
        <dl>
            <dt>人文社会科学系</dt>
            <dd>総務課 庶務係</dd>
            <dd>内線 6577</dd>
            <dd><a href="mailto: js-shomu@adm.niigata-u.ac.jp">js-shomu@adm.niigata-u.ac.jp</a></dd>
        </dl>
    </div>
    <div class="col-md-3">
        <dl>
            <dt>自然科学系</dt>
            <dd>総務課 学系研究支援係</dd>
            <dd>内線 7677</dd>
            <dd><a href="mailto:siz-kenkyu@adm.niigata-u.ac.jp">siz-kenkyu@adm.niigata-u.ac.jp</a></dd>
        </dl>
    </div>
    <div class="col-md-3">
        <dl>
            <dt>医歯学系</dt>
            <dt>医歯学総合病院</dt>
            <dt>脳研究所</dt>
            <dd>基礎・臨床研究支援課 外部資金係</dd>
            <dd>内線 2012, 2013, 2014</dd>
            <dd><a href="mailto:isgkenkyu@adm.niigata-u.ac.jp">isgkenkyu@adm.niigata-u.ac.jp</a></dd>
        </dl>
    </div>
    <div class="col-md-3">
        <dl>
            <dt>左記以外</dt>
            <dd>研究推進課 研究資金係</dd>
            <dd>内線 5642</dd>
            <dd><a href="mailto: kenkyo2@adm.niigata-u.ac.jp">kenkyo2@adm.niigata-u.ac.jp</a></dd>
        </dl>
    </div>
</div>