{% extends "_base.html" %}
{% load static %}

{% block content %}
<div class="container">
    <div class="row my-5">
        <div class="col-md-6 pr-5">
            <h2 class="h4">民間助成財団等の公募情報</h2>
            <p> 各種助成金等に応募する場合は、所属部局の事務部担当係に応募書類の写しを提出してください。</p>
            <p> 学長印や部局長推薦等が必要な公募の場合は、手続きに日数が必要です。</p>
            <div class="card my-3 bg-light shadow" id="frontpage_card1">
                <a href="{% url 'grant:list' %}" class="text-decoration-none">
                    <div class="card-body">
                        <h1 class="card-title h4">一覧を見る</h1>
                        <p class="card-text">新潟大学に郵便やメールで通知のあったものを表示します</p>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-md-6 pl-5">
            <h2 class="h4">政府系の競争的研究資金公募情報</h2>
            <p> 国・政府系機関の公募で、<a href="https://www.e-rad.go.jp/" target="_blank">府省共通研究開発システム（e-Rad）</a>を利用するものについては、
                申請書類の機関承認が必要な場合があります。機関承認が必要な公募の場合は、<strong>e-Radの申請期限（受付終了日）の 5
                    営業日前までに（学内締切）</strong>、研究推進課研究資金係 kenkyushikin@adm.niigata-u.ac.jp 内線5457 に申請書を提出してください。</p>
            <p>JSPSの電子申請システム経由で応募する科学研究費助成事業等については、別途部局等を通じて通知されます。</p>
            <div class="card my-3 bg-light shadow" id="frontpage_card1">
                <a href="{% url 'erad:list' %}" class="text-decoration-none">
                    <div class="card-body ">
                        <h1 class="card-title h4">一覧を見る</h1>
                        <p class="card-text">e-Radに掲載されている公募情報です</p>
                    </div>
                </a>
            </div>
        </div>
    </div>
    <hr>
    <hr>
    <div class="row">
        <div class="col">
            <div class="alert alert-info py-5" role="alert">
                以下は参考情報です
            </div>
        </div>
    </div>
    <div class="row my-4">
        <div class="col-md-12">
            <h2 class="h4">公募情報（新潟大学内）</h2>
        </div>
    </div>
    <div class="row mb-5">
        <div class="col-md-4">
            <h3 class="h6">医学部医学科 学内向け情報</h3>
            <ul>
                <li><a href="https://www.med.niigata-u.ac.jp/contents/campus/staff/other/joseikinn/index.html"
                        target="_blank">研究助成　公募一覧</a>
                </li>
            </ul>
        </div>
        <div class="col-md-4">
        </div>
    </div>
    <div class="row my-4">
        <div class="col-md-12">
            <h2 class="h4">公募情報（一次情報）</h2>
            <p>資金配分機関による公募情報のページを紹介します。</p>
        </div>
    </div>
    <div class="row mb-5">
        <div class="col-md-4">
            <h3 class="h6">府省共通研究開発管理システム e-Rad</h3>
            <ul>
                <li><a href="https://www.e-rad.go.jp/erad/portal/jigyolist/present/present?locale=ja"
                        target="_blank">公募一覧</a>
                </li>
            </ul>
        </div>
        <div class="col-md-4">
            <h3 class="h6">AMED - 日本医療研究開発機構</h3>
            <ul>
                <li><a href="https://www.amed.go.jp/search.php" target="_blank">公募情報検索</a></li>
                <li><a href="https://www.amed.go.jp/koubo/yokoku_index.html" target="_blank">公募予告一覧</a></li>
                <li><a href="https://www.amed.go.jp/koubo/koubo_index.html" target="_blank">公募情報一覧</a></li>
                <li><a href="https://www.amed.go.jp/pr/mailmagazine.html" target="_blank">AMEDメール配信サービス</a></li>
            </ul>
            <h3 class="h6 mt-5">JSPS - 日本学術振興会</h3>
            <ul>
                <li><a href="https://www.jsps.go.jp/info/index1.html" target="_blank">公募情報一覧</a></li>
                <li><a href="https://www.jsps.go.jp/j-mailmagazine/subscription.html" target="_blank">JSPS
                        Monthly</a></li>
            </ul>
        </div>
        <div class="col-md-4">
            <h3 class="h6">JST - 科学技術振興機構</h3>
            <ul>
                <li><a href="https://www.jst.go.jp/bosyu/bosyu.html" target="_blank">公募情報一覧</a></li>
                <li><a href="https://www.jst.go.jp/melmaga.html" target="_blank">JSTが発行するメールマガジン</a></li>
            </ul>
            <h3 class="h6 mt-5">NEDO - 新エネルギー・産業技術総合開発機構</h3>
            <ul>
                <li><a href="https://www.nedo.go.jp/search/?type=koubo" target="_blank">公募情報一覧</a></li>
                <li><a href="https://www.nedo.go.jp/nedomail/index.html" target="_blank">NEDOメール配信サービス</a></li>
            </ul>
        </div>
    </div>
    <div class="row my-4">
        <div class="col-md-12">
            <h2 class="h4">公募情報（二次情報）</h2>
            <p>公募情報が掲載されているサイトを紹介します。</p>
        </div>
    </div>
    <div class="row mb-5">
        <div class="col-md-4">
            <h3 class="h6">公益財団法人 助成財団センター</h3>
            <ul>
                <li><a href="http://www.jfc.or.jp/grant-search/c_search.php5" target="_blank">助成プログラム検索</a></li>
                <li><a href="http://www.jfc.or.jp/grant-search/z_search.php5" target="_blank">団体名による検索</a></li>
                <li><a href="http://www.jfc.or.jp/grant-search/ap_search.php5" target="_blank">採択課題からの検索</a></li>
                <li><a href="http://www.jfc.or.jp/grant-search/news/" target="_blank">助成金募集ニュース</a></li>
                <li><a href="http://www.jfc.or.jp/z-link/link/" target="_blank">助成財団リンク集</a></li>
            </ul>
        </div>
        <div class="col-md-4">
            <h3 class="h6">JST - 科学技術振興機構 サイエンスポータル</h3>
            <ul>
                <li><a href="https://scienceportal.jst.go.jp/funding/application/application.php"
                        target="_blank">ファンド（研究助成）</a></li>
            </ul>
        </div>
        <div class="col-md-4">
            <h3 class="h6">株式会社ジー・サーチ</h3>
            <ul>
                <li><a href="https://www.colabory.com/grants/" target="_blank">コラボリー／Grants（研究助成）</a></li>
            </ul>
            <h3 class="h6 mt-5">株式会社キーエンス</h3>
            <ul>
                <li><a href="https://www.e-grant.jp/" target="_blank">e-GRANT</a></li>
            </ul>
            <h3 class="h6 mt-5">株式会社アイ・スクウェア</h3>
            <ul>
                <li><a href="https://info-innovation.jp/" target="_blank">グラント・スクウェア</a></li>
            </ul>
        </div>
    </div>
</div>

{% endblock %}