{% extends "_base.html" %}
{% load static %}

{% block content %}
<div class="container">
    <div class="row my-5">
        <div class="col-md-12">
            <h1 class="h3">公募情報の管理</h1>
        </div>
    </div>
    <div class="row my-5">
        <div class="col-md-6">
            <h2 class="h5">民間助成財団等の公募情報</h2>
            <div class="my-3">
                <a class="btn btn-outline-primary" href="{% url 'grant:create' %}">公募情報の新規登録</a>
            </div>
            <div class="my-3">
                <a class="btn btn-outline-primary" href="{% url 'grant:list' %}">編集（公募一覧から選択）</a>
            </div>
        </div>
        <div class="col-md-6">
            <h2 class="h5">政府系の競争的研究資金公募情報</h2>
            <p>e-Radに掲載されていないものを手入力する場合</p>
            <div class="my-3">
                <a class="btn btn-outline-primary" href="{% url 'erad:create' %}">公募情報の新規登録</a>
            </div>
            <div class="my-3">
                <a class="btn btn-outline-primary" href="{% url 'erad:suppl_list' %}">編集（公募一覧から選択）</a>
            </div>
        </div>
    </div>
</div>

{% endblock %}