Django==2.2.13
requests==2.22.0
beautifulsoup4==4.7.1
django-crispy-forms==1.7.2
django-debug-toolbar==2.2
django-bootstrap4==2.1.1
django-bootstrap-datepicker-plus==3.0.5
django-allauth==0.42.0

autopep8
flake8

# direct install on Dockerfile
# mysqlclient==1.4.5
# uwsgi==2.0.18
