{% extends "_base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% load humanize %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col">
            <h1 class="h2 my-3">政府系の競争的研究資金 一覧</h1>
        </div>
    </div>
    <a class="btn btn-outline-info my-3 mr-3"
        href="#">CSVダウンロード（受付終了日前の公募案件のみ）</a>
    <a class="btn btn-outline-info my-3 mr-3" href="#">CSVダウンロード（全件）</a>

    <form method="GET" action="" name="filter_form">
        <div class="form-group border rounded p-3 mt-4">
            <h2 class="h6">絞り込み</h2>
            <div class="row">
                <div class="col-md-6">
                    {{ search_form.funding_agency | as_crispy_field }}
                </div>
                <div class="col-md-6">
                    {{ search_form.call_for_applications | as_crispy_field }}
                </div>
            </div>
            <div class="row">
                <div class="col">
                    {{ search_form.before_closing_date | as_crispy_field }}
                </div>
            </div>
            <button type="submit" class="btn btn-primary">
                <i class="fas fa-search"></i>
                検索
            </button>
        </div>
    </form>
    {% if item_list %}
    <div class="alert alert-primary my-4">
        検索結果：<span class="h2">{{ paginator.count | intcomma }}</span> 件
    </div>
    <p>初期状態では、公開日の降順で表示します。見出しをクリックして、任意の項目の昇順、降順にソートできます。</p>
    <table id="fav-table" class="table table-hover">
        <thead class="thead-light">
            <tr>
                <th width=10%>公開日</th>
                <th width=17%>配分機関</th>
                <th width=33%>公募名</th>
                <th width=11%>応募単位</th>
                <th width=9%>機関承認の有無</th>
                <th width=10%>受付開始日</th>
                <th width=10%>受付終了日</th>
            </tr>
        </thead>
        <tbody>
            {% for item in item_list %}
            <tr>
                <td>{{ item.publishing_date | date:"Y/m/d" }}</td>
                <td>{{ item.funding_agency }}</td>
                <td>
                    <a href="{{ item.url }}" target="_blank" rel="noopener noreferrer">{{ item.call_for_applications }}
                        <i class="far fa-window-restore small"></i></a>
                </td>
                <td>{{ item.application_unit }}</td>
                <td>{{ item.approved_institution }}</td>
                <td>{{ item.opening_date | date:"Y/m/d H:i"}}</td>
                <td>{{ item.closing_date | date:"Y/m/d H:i"}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <!-- pagination -->
    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center pagination-lg g-mt-28 g-mb-28">
            <!-- 前へ の部分 -->
            {% if page_obj.has_previous %}
            <li class="page-item">
                <a class="page-link"
                    href="?funding_agency={{ funding_agency }}&call_for_applications={{ call_for_applications }}&before_closing_date={{ before_closing_date }}&page={{ page_obj.previous_page_number }}">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
            {% endif %}

            <!-- 数字の部分 -->
            {% for num in page_obj.paginator.page_range %}
            {% if num <= page_obj.number|add:5 and num >= page_obj.number|add:-5 %}

            {% if page_obj.number == num %}
            <li class="page-item active"><a class="page-link" href="#">{{ num }}</a></li>
            {% else %}
            <li class="page-item"><a class="page-link"
                    href="?funding_agency={{ funding_agency }}&call_for_applications={{ call_for_applications }}&before_closing_date={{ before_closing_date }}&page={{ num }}">{{ num }}</a>
            </li>
            {% endif %}
            {% endif %}
            {% endfor %}

            <!-- 次へ の部分 -->
            {% if page_obj.has_next %}
            <li class="page-item">
                <a class="page-link"
                    href="?funding_agency={{ funding_agency }}&call_for_applications={{ call_for_applications }}&before_closing_date={{ before_closing_date }}&page={{ page_obj.next_page_number }}">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
            {% endif %}
        </ul>

    </nav>

    {% else %}
    <p class="my-5">見つかりませんでした。</p>
    {% endif %}

</div>

{% endblock %}